.sans-serif {
    font-family: sans-serif;
}

a:link {
    color: blue;
}

a:hover {
    color: red;
}

a:active {
    color: darkred;
}

a:visited {
    color: blueviolet;
}

#blue {
    color: blue;
}

h1, h2 {
    color: darkblue;
}